@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Varela Round", sans-serif;
  cursor: url('/logo2.png'),auto;
  scroll-behavior: smooth;
}

@keyframes shimmer-move {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes grow-width {
  from {
    width: 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #2563eb 25%, #60a5fa 50%, #2563eb 75%);
  background-size: 200% 100%;
  animation:
    shimmer-move 2s infinite linear,
    grow-width 1.5s ease-in-out forwards;
}

@keyframes slide {
  0% {
    opacity: 0;

    transform: translateX(-10px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.animate-slide {
  animation: slide 1.5s ease-in-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-page-entry {
  animation: slideInRight 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/*Scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 213);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}

/* no drag img */
.drag {
  -webkit-user-drag: none;
}

::selection {
  color: rgb(25, 0, 255);
  background-color: #eeeeee;
}
/* hide scroll for x scroll */
.hide-scroll::-webkit-scrollbar{
  display: none;
}

.alert{
  animation:slide 3s ease-in-out forwards;

}
@keyframes slide {
  0% {
    transform: translateX(100%); 
    opacity: 0;
  }
  20%, 80% {
    transform: translateX(0);    
    opacity: 1;
  }
  100% {
    transform: translateX(100%); 
  }
}


/* shimmer effect */
.shim {
  
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #c0c3ce 75%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear; 
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
